/*
Overarching SCSS file for the "/sass" folder - compiles into the "main.css" file
-------------------------------------------------------------------------------
*/

// Import statements for other SCSS/SASS files

@import "board/board";
@import "helpers/helpers";
@import "components/components";
@import "pages/pages";


// Import statements for web fonts and other items

@import url("http://overpass-30e2.kxcdn.com/overpass.css");
@import 'https://fonts.googleapis.com/css?family=Roboto+Slab:300,400';



// Setting up the game's board
.cell {
    @extends %cell;
    
    &:hover {
        background-color: rgba(0, 0, 0, .4);
    }
}
